.search-bar {
	border: none;
	border-width: 1px;
	border-radius: 30px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
	font-size: 16px;
	margin-top: 20px;
	margin-left: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 15px;
	padding-right: 15px;
	width: 500px;
}
