.Get-started {
			background-color: rgb(121, 82, 179);
			color: white;
			height: 40px;
			width: 125px;
			border: none;
			border-radius: 6px;
			margin-top: 10px;
			font-weight: bold;
			font-size: 15px;
			cursor: pointer;
			transition: 1s;
		}
		
		.Get-started:hover {
			background-color: rgb(121, 0, 165);
		}
		
		.Download {
			background-color: white;
			color: rgb(121, 82, 179);
			height: 40px;
			width: 125px;
			border-style: solid;
			border-width: 1px;
			border-radius: 6px;
			border-color: rgb(121, 82, 179);
			margin-left: 5px;
			font-weight: bold;
			font-size: 15px;
			cursor: pointer;
			transition: 1s;
		}
		
		.Download:hover {
		background-color: gray;
		color: white;
		border-color: grey; 
		}