.Apply {
			background-color: rgb(10, 102, 194);
			color: white;
			cursor: pointer;
			height: 40px;
			width: 250px;
			border: none;
			border-radius: 18px;
			font-weight: bold;
			font-size: 13px;
			margin-top: 10px;
			transition: 1s;
		}

		.Apply:hover {
			background-color: rgb(10, 80, 160);
		}
		
		.Save {
			background-color: white;
			color: rgb(10, 102, 194);
			cursor: pointer;
			height: 40px;
			width: 100px;
			border-width: 1px;
			border-color: rgb(10, 102, 194);
			border-radius: 18px;
			font-weight: bold;
			font-height: 15px;
		}
		
		.Save:hover {
			background-color: #dcf4f4;
			
		}
		
		big {
			margin-left: 10px;
		}