a {
			color: rgb(0, 113, 133)
		}
		
		.inStock {
			color: rgb(0, 118, 0)
		}
		
		.Add-to-Chart {
			background-color: rgb(255, 216, 20);
			cursor: pointer;
			font-weight: bold;
			border: none;
			border-radius: 18px;
			height: 35px;
			transition: background-color 1s;
			width: 125px;
			
		}
		
		.Add-to-Chart:hover {
			 background-color: rgb(230, 203, 68);
		}
		
		.Add-to-Chart:active {
			opacity: 0.5;
			
		}
		
		.Buy-now {
			background-color: rgb(255, 164, 28);
			font-weight: bold;
			border: none;
			border-radius: 18px;
			cursor: pointer;
			height: 35px;
			width: 125px;
			margin-left: 10px;
			transition: background-color 1s;
		}
		
		.Buy-now:hover {
			background-color: rgb(240, 167, 58);
		}
		
		.Buy-now:active {
			opacity: 0.5;
		}
		
		a:hover {
			color: rgb(210, 128, 5);