.Subscribe-button {
			background-color: rgb(200, 0, 0);
			color: white;
			font-weight: bold;
			height: 36px;
			width: 105px;
			border: none;
			border-radius: 2px;
			cursor: pointer;
			margin-right: 8px;
			transition: opacity 0.15s;
			
		}
		
		.Subscribe-button:hover {
			opacity: 0.7;
		}
		
		.Subscribe-button:active {
			opacity: 0.5;
		}
		
		.Joint-button {
			background-color: white;
			border-color: rgb(41, 118, 211);
			border-style: solid;
			border-width: 1px;
			color: rgb(41, 118, 211);
			font-weight: bold;
			height: 36px;
			width: 62px;
			border-radius: 1px;
			cursor: pointer;
			transition: background-color 1s,
				color 1s;
			
		}
		
		.Joint-button:hover {
			background-color: rgb(41, 118, 211);
			color: white;
		}
		
		.Joint-button:active {
			opacity: 0.7;
		}
		
		.Tweet-button {
			background-color: rgb(5, 158, 255);
			color: white;
			border: none;
			height: 36px;
			width: 70px;
			border-radius: 18px;
			font-weight: bold;
			font-size: 15px;
			cursor: pointer;
			margin-left: 8px;
			transition: box-shadow 0.15s;
		}
		
		.Tweet-button:hover {
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
		}