p {
				color: rgba(161, 161, 161, 0.81);
				font-family: Arial;
				font-size: 80px;
				font-weight: bold;
				margin-left: 440px;
				margin-top: 100px;	
				
				
				
			}
			
			.search-bar {
				border: none;
				border-width: 1px;
				border-radius: 30px;
				box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
				font-size: 16px;
				margin-top: 0px;
				margin-left: 360px;
				padding-top: 12px;
				padding-bottom: 12px;
				padding-left: 15px;
				padding-right: 15px;
				width: 500px;
			}
			
			body {
				background-image: url("images/CC.jpg");
			}