   .app-container {
        display: flex;
        margin: auto;
        height: 100vh;
        max-width: 600px;
        flex-direction: column;
    }

    .chat-message-profile {
        width: 45px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .chat-message-container {
        flex-grow: 1;
        margin-top: 20px;
        overflow: scroll; 
        scrollbar-width: none;
        
    }

    .welcome-sms {
        font-size: 16px;
        color: rgb(120, 120, 120);
    }

    .spinner {
        height: 40px;
        margin: -15px;
    }