.shadow {
				background-color: #149114;
				color: #f9f7f7;
				cursor: pointer;
				font-size: 18px;
				padding-top: 8px;
				padding-bottom: 8px;
				padding-left: 16px;
				padding-right: 16px;
				border: 2px;
				transition: 0.8s;
				box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
			}
			
			.shadow:hover {
				margin-top: 3px;
				margin-left: 3px;
				box-shadow: none;
			}