.fixed {
    background-color: grey;
    height: 180px;
    width: 320px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.close {
    border: none;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

.abs {
    position: absolute;
    top: -16px;
    left: -16px;
}