.container {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(200, 200, 200);
	border-radius: 6px;
	width: 300px;
}

div {
	font-family: Arial;
}

.flexbox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
}

.notification {
	border-radius: 20px;
	background-color: rgb(49, 109, 245);
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}