.header {
	background-color: rgb(120, 82, 178);
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}

.div {
	font-family: Arial;
}

.download {
	background-color: rgb(121, 82, 179);
	border: none;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	color: white;
	font-size: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
}

.home-link {
	font-weight: bold;
}

.search {
	color: rgb(100, 100, 100);
	border: none;
	border-radius: 15px;
	height: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	max-width: 500px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	width: 400px;
	
}