p {
	font-family: Arial;
	color: rgb(200, 200, 200);
	
}

.container {
	background-color: rgb(33, 33, 33);
	border-style: solid;
	border-width: 1px;
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: 320px;
}

.install {
	color: white;
	font-weight: bold;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}


.second-p {
	color: rgb(160, 160, 160);
	margin-top: 5px;
}