.box {
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(200, 200, 200);
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 12px;
	padding-left: 4px;
	padding-left: 4px;
	
	
}

.cat-picture {
	border-radius: 20px;
	cursor: pointer;
	height: 40px;
	margin-left: 2px;
	object-fit: cover;
	width: 40px;
	vertical-align: middle;
}

.text-box {
	border: none;
	color: #262323;
	font-size: 20px;
	font-family: Arial;
	margin-left: 10px;
	margin-right: 60px;
	vertical-align: middle;
	
	
}

.tweet {
		background-color: rgb(29, 155, 240);
		color: white;
		border: none;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 18px;
		font-weight: bold;
		font-size: 15px;
		cursor: pointer;
		margin-left: 10px;
		margin-right: 15px;
		transition: box-shadow 0.15s;
		vertical-align: middle;
	}
		
.tweet:hover {
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
		
		}
		
		