.button-one, .button-two {
	color: rgb(1, 0, 0);
	cursor: pointer;
 	border: none;
	box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.2);
	background-color: rgb(245, 245, 245);
	font-family: Arial;
	font-size: 16px;
	margin-right: 20px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 8px;	
	padding-right: 8px;
	width: 150px;
	
}

.google-picture, .search-engine {	
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
} 

.google-button-one {
	text-align: center;
	margin-top: 20px;
}

img {
	 cursor: pointer;
	 width: 200px;
	 height: 70px;
	 object-fit: cover;
	 
 }
 
 .search-bar {
	border: none;
	border-width: 1px;
	border-radius: 30px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	font-size: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 15px;
	padding-right: 15px;
	width: 500px;
}